html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.text-pink{
    color: #ff1448 !important;
}
.nav-link{
    letter-spacing: 2px;
}
#carouselExampleControls{
    height:400px;
}
footer{
    background-color:#0d243d;

}
header{
    z-index:1000;
}
dishcard {
    height: 250px;
  
}
.fa-instagram {
    color: #bc2a8d;
}
.fa-whatsapp {
    color: #128C7E;
}
.fa-facebook {
    color: #3b599B;
}
.fa-envelope {
    color: #EA4335;
}
#recipe-list{
    top: 5rem;
}
#recipe-list ul::-webkit-scrollbar{
    width: 10px;
}
#recipe-list ul::-webkit-scrollbar-track{
    background-color:#ffffff;
}
#recipe-list ul::-webkit-scrollbar-thumb{
    background-color:#ff1448;
    border-radius:10px;
}
.recipe-item:hover {
    background-color: #0d243d;
    border-radius: 10px;
}
.recipe-item:hover a{
    color:#ffffff !important;
}
.dishcard {
    width: 100%; /* Full width of the parent column */
    height: 300px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space between child elements */

}

.dishcard img {
    object-fit: cover; /* Ensures the image fills its container without stretching */
    height: 150px; /* Adjust to desired image height */
    width: 100%; /* Full width */
    margin-bottom: 3px;
}


.card-body {
    padding: 10px; /* Adjust the padding for content */
    flex-grow: 1; /* Makes sure the body takes available space */
    margin-bottom: 3px;
}
.col-sm-4, .col-md-4, .col-lg-4, .col-xl-4 {
    margin-bottom: 5px; /* Adds space between the bottom of each card container */
}   