
<ul class="list-group-flush px-0 vh-100 overflow-auto " >
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Fries</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Kebab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Pineapple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Blackcurrent</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Cauliflower</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Ice cream</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Onion</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Peas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Dill</a>
    </li>
    <li class="recipe-item list-group-item">Cherry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Pudding</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Crab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Ribs</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Turkey</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Fish</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Plum</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Papaya</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href=""> Coconut</a>
    </li>
</ul>
